.MainWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  background: #80808073;
  height: 100%;
}

.Wrapper {
  display: flex;
  height: 100%;
  background: white;
  margin: 2% 2% 2% 15%;
  padding: 2rem;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SummaryBox {
  padding: 2rem;
  height: 50vh;
  width: 25%;
  margin-top: 2%;
  margin-right: 10%;
  background: white;
  display: flex;
  flex-direction: column;
}

.btn0 {
  background: green;
  margin: 0;
  margin-bottom: 0.5rem;
  color: white;
}
.btn1 {
  background: FIREBRICK;
  border: 1px solid black;
  margin: 0;
  color: white;
}

.fontTotal {
  font-weight: 500;
  font-size: 2.5rem;
  align-self: flex-end;
  font-style: italic;
  margin-bottom: 3rem;
  font-variant-numeric: oldstyle-nums;
}

.checkoutHeader {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
