.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.steps-action {
  margin-top: 24px;
}

.wrapper {
  display: flex;
  margin: 3rem;
  flex-direction: column;
}

.cardWrapper {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}

.descItem {
  display: flex;
  margin-right: 1rem;
}

.cardBtnWrapper {
  display: flex;
  justify-content: center;
}
